{% extends "level2.html.twig" %}

{% block content %}
    <h1>Contenu de votre panier</h1>

    <p>
    <table style="border:solid; border-collapse : collapse">
        <tr>
            <th>Libellé</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Action</th>
        </tr>
        {% for produit in jointure %}
            <tr>
                <td style="border:solid";>{{ produit[0] }}</td>
                <td style="border:solid";>{{ produit[1] }}</td>
                <td style="border:solid";>{{ produit[2] }}</td>
                <td style="border:solid";>{{ produit[3] }}</td>
                <td><input type="button" value="Supprimer" /></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td><input type="button" value="Acheter" /></td>
            <td><input type="button" value="Vider" /></td>
        </tr>
    </table>
    </p>
{% endblock %}
