{% extends "level2.html.twig" %}

{% block content %}
    <h1>Liste des produits de notre magasin</h1>

    <p>
    <table style="border:solid; border-collapse : collapse">
        <tr>
            <th>Libellé</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
        </tr>
        {% for produit in jointure %}
            <tr>
                <td style="border:solid";>{{ produit[0] }}</td>
                <td style="border:solid";>{{ produit[1] }}</td>
                <td style="border:solid";>{{ produit[2] }}</td>
                <td style="border:solid";>{{ produit[3] }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="4"><input type="button" value="Ajouter au Panier" /></td></tr>
    </table>
    </p>
{% endblock %}
