{% block menu %}
    <a href="">déconnexion</a> </br>
    <a href="">page d'accueil</a> </br>
    <a href="/create_customer_account">gérer mon profil</a></br>
    <a href="">liste des produits</a> </br>
    <a href="">gérer mon panier</a> </br>
{% endblock %}