{% block menu %}
    <a href="{{ path("utilisateurs_deconnexion") }}">déconnexion</a> </br>
    <a href="{{ path("main_index") }}">page d'accueil</a> </br>
    <a href="{{ path("clients_editProfil") }}">gérer mon profil</a></br>
    <a href="">liste des produits</a> </br>
    <a href="">gérer mon panier</a> </br>
{% endblock %}