{% block header %}
    <div id="header">
        <img src="{{ asset('image/visitors.jpg') }}" alt="Logo visiteur"/>
    </div>
{% endblock %}


{# ====================================================================================== #}
{# AUTEURS: Amandine Fradet, Florian Legendre                                             #}
{# ====================================================================================== #}