{% extends 'layouts/2ndLevelLayout1.html.twig' %}

{% block menu %}
    <a href="">déconnexion</a> </br>
    <a href="">page d'accueil</a> </br>
    <a href="/create_customer_account">gérer clients</a></br>
    <a href="">ajouter un produit</a> </br>
    <a href="https://fr.wikipedia.org/wiki/Amour_et_Amnésie">wikipédia</a> </br>
{% endblock %}