{% block footer %}
    <div id="footer">
        <img src="{{ asset('image/unicorn.png') }}" alt="Logo Université de Poitiers"/>
        <img src="{{ asset('image/logo.png') }}" alt="Logo Université de Poitiers"/>
        <img src="{{ asset('image/unicorn.png') }}" alt="Logo Université de Poitiers"/>
    </div>
{% endblock %}


{# ====================================================================================== #}
{# AUTEURS: Amandine Fradet, Florian Legendre                                             #}
{# ====================================================================================== #}