{% extends 'layouts/2ndLevelLayout1.html.twig' %}

{% block menu %}
    <a href="">connexion</a> </br>
    <a href="">page d'accueil</a> </br>
    <a href="create_customer_account">créer un compte</a>
{% endblock %}