{% extends "level2.html.twig" %}

{% block content %}
    <h1>Liste des produits de notre magasin</h1>

    <p>
    <table style="border:solid; border-collapse : collapse">
    <tr>
        <th>Libellé</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Choix</th>
    </tr>
        {% for produit in produits %}
            <tr>
                <td style="border:solid";>{{ produit.libelle }}</td>
                <td style="border:solid";>{{ produit.prixUnitaire }}</td>
                <td style="border:solid";>{{ produit.qte }}</td>
                <td style="border:solid";>
                    <select>
                        {% for i in 0..produit.qte %}
                            <option>{{ i }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    <tr><td colspan="4"><input type="button" value="Ajouter au Panier" /></td></tr>
    </table>
    </p>
{% endblock %}