{% block header %}
    <div id="header">
        <img src="{{ asset('image/customers.jpg') }}" alt="Logo client"/>
    </div>
{% endblock %}


{# ====================================================================================== #}
{# AUTEURS: Amandine Fradet, Florian Legendre                                             #}
{# ====================================================================================== #}