{% block header %}
    <div id="header">
        <img src="{{ asset('image/admin.png') }}" alt="Logo administrateur"/>
    </div>
{% endblock %}


{# ====================================================================================== #}
{# AUTEURS: Amandine Fradet, Florian Legendre                                             #}
{# ====================================================================================== #}