{% block menu %}
    <div>Hello Administrator!</div><br/>
    <a href="{{ path("utilisateurs_deconnexion") }}">déconnexion</a> </br>
    <a href="{{ path("main_index") }}">page d'accueil</a> </br>
    <a href="{{ path("manage_account") }}">gérer clients</a></br>
    <a href="{{ path("add_product") }}">ajouter un produit</a> </br>
    <a href="https://fr.wikipedia.org/wiki/Amour_et_Amnésie">wikipédia</a> </br>
{% endblock %}


{# ====================================================================================== #}
{# AUTEURS: Amandine Fradet, Florian Legendre                                             #}
{# ====================================================================================== #}